@model Movie

<div asp-validation-summary="All" class="text-danger">
</div>

<input type="hidden" asp-for="MovieId" />

<div class="row gx-4 gy-4 mb-4">
  <div class="col-md">
    <div class="form-floating">
      <input asp-for="Name" class="form-control" placeholder="1" />
      <label asp-for="Name">Name</label>
    </div>
  </div>
  <div class="col-md">
    <div class="form-floating col-md">
      <input type="number" asp-for="Year" class="form-control" placeholder="1" min="1889" max="2999" />
      <label asp-for="Year">Year</label>
    </div>
  </div>
</div>

<div class="row gx-4 gy-4 mb-4">
  <div class="col-md">
    <div class="form-floating">
      <select asp-for="Genre" asp-items="Html.GetEnumSelectList<Genre>()" class="form-control">
        <option value="" selected>Select a genre</option>
      </select>
      <label asp-for="Genre">Genre</label>
    </div>
  </div>
  <div class="col-md">
    <div class="form-floating col-md">
      <input type="number" asp-for="Rating" class="form-control" placeholder="5" min="1" max="10" />
      <label asp-for="Rating">Rating (1-10)</label>
    </div>
  </div>
</div>
