@model Movie

@{
  ViewData["Title"] = "Add Movie";
}

<form asp-action="Add" method="post">
  <partial name="_EditMoviePartial" />

  <button type="submit" class="btn custom-btn-primary">Add</button>
  <a role="button" asp-controller="Home" asp-action="Index" class="btn custom-btn-alt">Cancel</a>
</form>
